<h1>Create Project</h1>
<form [formGroup]="projectForm" (ngSubmit)="submitForm()">
  
  <!-- Campo de título -->
  <mat-form-field>
    <mat-label>Project Title</mat-label>
    <input matInput formControlName="title" placeholder="Enter project title" required class="input"/>
    <mat-error *ngIf="projectForm.get('title')?.hasError('required') && projectForm.get('title')?.touched">
      Title is required.
    </mat-error>
  </mat-form-field>

  <!-- Campo de descripción -->
  <mat-form-field>
    <mat-label>Project Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Enter project description" required></textarea>
    <mat-error *ngIf="projectForm.get('description')?.hasError('required') && projectForm.get('description')?.touched">
      Description is required.
    </mat-error>
    <mat-error *ngIf="projectForm.get('description')?.hasError('minlength') && projectForm.get('description')?.touched">
      Description must be at least 10 characters long.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Create</button>
  <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</form>
