/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background-repeat: no-repeat;
    background-size: container;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(78,9,121,1) 35%, rgba(179,0,255,1) 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
