.listTareas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: container;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(78,9,121,1) 35%, rgba(179,0,255,1) 100%);
}

.containerTareas{
    width: 80%;
    background: rgba(0, 0, 0, 0.315);
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: #ce55ec;
}

table{
    width: 95%;
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    color: #fff;
}

td{
    height: 40px;
    border-top: 1px solid #ce55ec; 
}

th{
    height: 40px;
    background: #ce55ec4d;
    color: #fff;
}

.editar, .eliminar{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.editar:hover{
    background: #ce55ec4d;
}

.eliminar:hover{
    background: #ce55ec4d;
}

.eliminar svg{
    width: 25px;
    height: 25px;
}

.btnCrear{
    display: flex;
    column-gap: 15px;
    margin: 50px;
    width: 200px;
    color: #ce55ec;
    background: none;
    border: 1px solid #ce55ec;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btnCrear svg{
    width: 30px;
    height: 30px;
}

.btnCrear:hover{
    background: #211631;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  