
  .error-message {
    color: rgb(240, 109, 49);
  }

  h2{
    font-size: 32px;
    color: #ce55ec;
  }
  .background{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(78,9,121,1) 35%, rgba(179,0,255,1) 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Afacad Flux", sans-serif;
  }
  .container{
    background: rgba(0, 0, 0, 0.315);
    width: 350px;
    height: 500px;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #ce55ec;
    border-radius: inherit;
    box-sizing: border-box;
    animation: borderAnimation 5s linear infinite;
  }


  @keyframes borderAnimation {
    0% {
      clip-path: inset(0% 100% 0% 0%);
    }
    25% {
      clip-path: inset(0% 0% 100% 0%);
    }
    50% {
      clip-path: inset(0% 0% 0% 100%);
    }
    75% {
      clip-path: inset(100% 0% 0% 0%);
    }
    100% {
      clip-path: inset(0% 100% 0% 0%);
    }
  }

  .container form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
  }

  input{
    width: 70% ;
    height: 45px;
    padding-left:10px;
    border-radius: 50px;
    border: 2px solid #ce55ec;
    background: none;
    font-family: "Afacad Flux", sans-serif;
    font-size: 17px;
    color: #ce55ec;
  }

  input::placeholder{
    color: #ce55ec;
  }

  button{
    width: 70%;
    height: 35px;
    background: #ce55ec;
    color: #30163b;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    font-family: "Afacad Flux", sans-serif;
    cursor: pointer;
  }

  button:hover{
    background: #a846c0;
  }
  