<div class="background">
  <div class="container">
    <h2>Iniciar Sesión</h2>
    <form (submit)="login()">
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="Usuario"
        name="username"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        name="password"
        required
      />
      <button type="submit"  (click)="login()">Ingresar</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
  