 
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
  }
  
  header {
    background-color: #211631;
    padding: 10px 20px;
    color: #fff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logosvg{
    width: 40px;
    height: 40px;
  }
  
  .logout button {
    padding: 8px 16px;
    background-color: none;
    background: #211631;
    color: white;
    border: 1px solid #ce55ec;
    color: #ce55ec;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .logout button:hover {
    background-color: #ce55ec4d;
  }